
.header  {
    width: 100%;
    height: 100px;
    background: black;
    color: orangered;
    font-size : 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer{
    width: 100%;
    height: 100px;
    background: black;
    color: orangered;
    font-size : 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content{
    display : flex;
    min-height: 80vh;
    background: lightgray;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding : 50px 0;
}
.character{
    width: 300px;
    background-color: darkorange;
    cursor : pointer;
    color : wheat;
}
.wrapper div{
    display: inline-block;
    margin : 5px;
}